/*The gray background*/
.userslist_backdrop{
  position:fixed;
  height: 100%;
  height: 100vh;
  width: 20%;
  right: 0px;
  background-color: rgba(106, 190, 167, 0.6);
  padding: 0;
  z-index: 3;
  overflow-y: auto;
  

  .users_list__modal{
    position: absolute;
    top:0;
    background-color: #B1D7CC;
    border-radius: 5px;
    height: 100vh;
    width: 100%;
    margin: 0px auto;
    padding: 30px;
    display: table;
  }
  .close{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #6ABEA7;
    width: 3em;
    height: 3em;
    display: table;
    margin-top: 0.2em;
    margin-right: 0.2em;
  }
  .cross{
    color: white;
    margin: auto;
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    font-size: 20pt; 
  }

  img {
    max-width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  h2{
    text-align: center;
  }
}

@keyframes example {
 
  100% {border: 5px solid black;}
}



.userslist_item {
  width: 50%;
  height: auto;
  margin: 3px;
  display: table-row;

  img {
    width: 100%;
    box-sizing: border-box;
    animation: example 1.5s 1;
    animation-play-state: paused;
    border-radius: 50%; 
    height: 196px;
    margin-top: 4vh;
    
  
  }
  img:hover {
    animation-play-state: running;
  }
}



/*The modal "window"*/
