.topBar{
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width:100%;
  z-index: 10;
  background-color: #6abea7;

  li{
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      max-width: 10vw;
      max-height: 10vw;

      &:hover{

      }
    }
  }
}
