.topBar{
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width:100%;
  z-index: 10;
  background-color: #6abea7;

  li{
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      max-width: 10vw;
      max-height: 10vw;

      &:hover{

      }
    }
  }
}
.incoming_message {
  position: absolute;
  width: 30px;
  bottom: 0;
  left: 100px;
  .imagecropper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    img {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }
  span {
    font-size: 40px;
    position: relative;
    top: -30px;
    left: 20px;
  }
}
