.emojiObject {
    font-size: 7vh;
    line-height: 150%;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    display: inline-block;
    flex: 0 0 auto;
}

.emojiObject:hover {
    font-size: 7.5vh;
    line-height: 130%;
}