body {
  background-color: white;
  background-image: none;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-header {
  margin-top: 25%;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

.input {
  width: 250px;
  height: 25px;
  margin: 15px;
}

.signup-btn {
  margin-top: 35px;
}

.error-message {
  color: red;
}

@media only screen and (max-width: 768px) {
  .input {
    width: 60vw;
    height: 12vw;
    margin: 1vh;
  }
}
